NODE_ENV=development

# Microservices Ports
GATEWAY_PORT=8000
AUTH_USER_SERVICE_PORT=8001
CHAT_SERVICE_PORT=8003
VIDEO_SERVICE_PORT=8004
NOTIFICATION_SERVICE_PORT=8005

# Service URLs
AUTH_USER_SERVICE_URL=http://auth-service:8001
CHAT_SERVICE_URL=http://chat-service:8003
VIDEO_SERVICE_URL=http://video-service:8004
NOTIFICATION_SERVICE_URL=http://notification-service:8005

# MongoDB URIs
MONGO_AUTH_USER_URI=mongodb://mongo:27017/alapa_auth_user
MONGO_CHAT_URI=mongodb://mongo:27017/alapa_chat
MONGO_VIDEO_URI=mongodb://mongo:27017/alapa_video

# Secrets
JWT_SECRET=supersecretjwtkey_change_in_production
JWT_REFRESH_SECRET=superrefreshjwtkey_change_in_production
FIREBASE_SERVICE_ACCOUNT_KEY=
