PORT=8000
NODE_ENV=development
AUTH_USER_SERVICE_URL=http://localhost:8001
CHAT_SERVICE_URL=http://localhost:8003
VIDEO_SERVICE_URL=http://localhost:8004
NOTIFICATION_SERVICE_URL=http://localhost:8005
