PORT=8004
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/alapa_video
USER_SERVICE_URL=http://localhost:8001
NOTIFICATION_SERVICE_URL=http://localhost:8005
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=
